body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f5f5f5; /* Replace 'background-image.jpg' with your image file path */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: black; /* Dark text color for better readability */
}

h1, h2 {
    text-align: center;
    color: black; /* Dark text color */
}

.input-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.input-section label {
    font-weight: bold;
    margin-right: 10px;
    color: black; /* Dark text color */
}

.input-section input[type="number"],
.input-section input[type="date"] {
    padding: 5px;
    margin-right: 10px;
}

.input-section button {
    padding: 5px 10px;
    background-color: #007bff; /* Bootstrap's primary color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.expenses-list {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #6a6565; /* Light gray background color for table header */
    color: black; /* Dark text color */
}

tfoot td {
    font-weight: bold;
}

.delete-btn {
    padding: 5px 10px;
    background-color: #dc3545; /* Bootstrap's danger color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
th{
    border: 2px solid black;
}
td{
    border: 2px solid black;
}